body{
font-family: "Jura", sans-serif;

.jura-<uniquifier> {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

}
h1{
     
       color: blue;
}
h3{
   
       color: black;
}
p{
       
    line-height: 1.5;
}
