<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?famiã„´ly=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Jura:wght@300..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href "labo.kkun/style.css">

body {
       font-family: "Jura", sans-serif;
    }

h1{
    color: blue;
}
h3{
    color: black;
}
p{
    line-height: 1.5;
}
