   .jura-<uniquifier> {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
}

p{ 
  font-family: "Jura", sans-serif;
    
    line-height: 1.5;
}
h1{
     
       color: blue;
}
h3{
   
       color: black;
}

